# Modules
node_modules

# Dossiers de build
dist
build
lib

# Fichiers de cache pnpm
.pnpm-store/
.pnpm-debug.log

# Environnement
.env
.env.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Couverture de test
coverage

# Éditeurs
.idea
.vscode
*.swp
*.swo

# Système d'exploitation
.DS_Store
Thumbs.db